# Exercise 1: Your first DataFrame

The goal of this exercise is to learn to create basic Pandas objects.

1. Create a DataFrame as below this using two ways:
   - From a NumPy array
   - From a Pandas Series

   |     | color | list    | number |
   | --: | :---- | :------ | -----: |
   |   1 | Blue  | [1, 2]  |    1.1 |
   |   3 | Red   | [3, 4]  |    2.2 |
   |   5 | Pink  | [5, 6]  |    3.3 |
   |   7 | Grey  | [7, 8]  |    4.4 |
   |   9 | Black | [9, 10] |    5.5 |

2. Print the types for every column and the types of the first value of every column

### Applying custom table styling

In [7]:
from IPython.display import display, HTML

css = """
<style>
    /* Table layout */
    table.dataframe {
        border-collapse: collapse;
        font-family: 'Segoe UI', Arial, sans-serif;
        font-size: 14px;
        margin: 20px 0;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        border-radius: 8px;
        overflow: hidden;
    }

    /* Header */
    table.dataframe thead th {
        background-color: #4A90D9;
        color: white;
        padding: 12px 16px;
        text-align: center;
        font-weight: 600;
        letter-spacing: 0.5px;
        border: none;
    }

    /* Index header (top-left corner) */
    table.dataframe thead th:first-child {
        background-color: #3a7bc8;
    }

    /* Rows */
    table.dataframe tbody tr {
        border-bottom: 1px solid #e0e0e0;
        transition: background-color 0.2s;
    }

    /* Alternating row colors */
    table.dataframe tbody tr:nth-child(even) {
        background-color: #f4f8ff;
    }

    table.dataframe tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }

    /* Hover effect */
    table.dataframe tbody tr:hover {
        background-color: #dceeff;
    }

    /* Cells */
    table.dataframe tbody td {
        padding: 10px 16px;
        border: none;
        color: #333;
    }

    /* Index column */
    table.dataframe tbody th {
        padding: 10px 16px;
        background-color: #f0f4fa;
        font-weight: 600;
        color: #555;
        border: none;
        border-right: 2px solid #d0d8e8;
    }
</style>
"""

display(HTML(css))

### From Numpy Array

In [8]:
import numpy as np
import pandas as pd

colors = np.array(["Blue", "Red", "Pink", "Grey", "Black"])
lists = np.array([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]])
numbers = np.array([1.1, 2.2, 3.3, 4.4, 5.5])
index = [1, 3, 5, 7, 9]

df_from_nparray = pd.DataFrame({"color": colors, "list": list(lists), "number": numbers}, index=index)
display(df_from_nparray)

   color     list  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5

### From Pandas Series

In [9]:
colors = pd.Series(["Blue", "Red", "Pink", "Grey", "Black"], index=index)
lists = pd.Series([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]], index=index)
numbers = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5], index=index)

df_from_pdseries = pd.DataFrame({"color": colors, "list": lists, "number": numbers})
display(df_from_pdseries)

   color     list  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5

### Types of Every Column and Types of the First Value of Every Column

In [12]:
print("Column types:")
print(df_from_pdseries.dtypes)

print("\nTypes of first value in each column:")
for col in df_from_pdseries.columns:
    print(f"{col}: {type(df_from_pdseries[col].iloc[0])}")

Column types:
color         str
list       object
number    float64
dtype: object

Types of first value in each column:
color: <class 'str'>
list: <class 'list'>
number: <class 'numpy.float64'>