# Exercise 1: Your first DataFrame

The goal of this exercise is to learn to create basic Pandas objects.

1. Create a DataFrame as below this using two ways:
   - From a NumPy array
   - From a Pandas Series

   |     | color | list    | number |
   | --: | :---- | :------ | -----: |
   |   1 | Blue  | [1, 2]  |    1.1 |
   |   3 | Red   | [3, 4]  |    2.2 |
   |   5 | Pink  | [5, 6]  |    3.3 |
   |   7 | Grey  | [7, 8]  |    4.4 |
   |   9 | Black | [9, 10] |    5.5 |

2. Print the types for every column and the types of the first value of every column

### Applying custom table styling

In [1]:
from IPython.display import display, HTML

css = """
<style>
    /* Table layout */
    table.dataframe {
        border-collapse: collapse;
        font-family: 'Segoe UI', Arial, sans-serif;
        font-size: 14px;
        margin: 20px 0;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        border-radius: 8px;
        overflow: hidden;
    }

    /* Header */
    table.dataframe thead th {
        background-color: #4A90D9;
        color: white;
        padding: 12px 16px;
        text-align: center;
        font-weight: 600;
        letter-spacing: 0.5px;
        border: none;
    }

    /* Index header (top-left corner) */
    table.dataframe thead th:first-child {
        background-color: #3a7bc8;
    }

    /* Rows */
    table.dataframe tbody tr {
        border-bottom: 1px solid #e0e0e0;
        transition: background-color 0.2s;
    }

    /* Alternating row colors */
    table.dataframe tbody tr:nth-child(even) {
        background-color: #f4f8ff;
    }

    table.dataframe tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }

    /* Hover effect */
    table.dataframe tbody tr:hover {
        background-color: #dceeff;
    }

    /* Cells */
    table.dataframe tbody td {
        padding: 10px 16px;
        border: none;
        color: #333;
    }

    /* Index column */
    table.dataframe tbody th {
        padding: 10px 16px;
        background-color: #f0f4fa;
        font-weight: 600;
        color: #555;
        border: none;
        border-right: 2px solid #d0d8e8;
    }
</style>
"""

display(HTML(css))

### From Numpy Array

In [2]:
import numpy as np
import pandas as pd

colors = np.array(["Blue", "Red", "Pink", "Grey", "Black"])
lists = np.array([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]])
numbers = np.array([1.1, 2.2, 3.3, 4.4, 5.5])
index = [1, 3, 5, 7, 9]

df_from_nparray = pd.DataFrame({"color": colors, "list": list(lists), "number": numbers}, index=index)
display(df_from_nparray)

   color     list  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5

### From Pandas Series

In [3]:
colors = pd.Series(["Blue", "Red", "Pink", "Grey", "Black"], index=index)
lists = pd.Series([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]], index=index)
numbers = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5], index=index)

df_from_pdseries = pd.DataFrame({"color": colors, "list": lists, "number": numbers})
display(df_from_pdseries)

   color     list  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5

### Types of Every Column and Types of the First Value of Every Column

In [4]:
print("Column types:")
print(df_from_pdseries.dtypes)

print("\nTypes of first value in each column:")
for col in df_from_pdseries.columns:
    print(f"{col}: {type(df_from_pdseries[col].iloc[0])}")

Column types:
color         str
list       object
number    float64
dtype: object

Types of first value in each column:
color: <class 'str'>
list: <class 'list'>
number: <class 'numpy.float64'>

# Exercise 2: Electric power consumption
The goal of this exercise is to learn to manipulate real data with Pandas.

The data set used is [Individual household electric power consumption](./household_power_consumption.txt)

1. Delete the columns `Time`, `Sub_metering_2` and `Sub_metering_3`

2. Set Date as index

3. Create a function that takes as input the DataFrame with the data set and returns a DataFrame with updated types:
```python
    def update_types(df):
        #TODO
        return df
```

4. Use `describe` to have an overview on the data set

5. Delete the rows with missing values

6. Modify `Sub_metering_1` by adding 1 to it and multiplying the total by 0.06. If x is a row the output is: (x+1)*0.06

7. Select all the rows for which the `Date` is greater or equal than 2008-12-27 and `Voltage` is greater or equal than 242

8. Print the 88888th row.

9. What is the date for which the `Global_active_power` is maximal?

10. Sort the first three columns by descending order of `Global_active_power` and ascending order of `Voltage`.

11. Compute the daily average of `Global_active_power`.

In [5]:
consumption_df = pd.read_csv("household_power_consumption.txt", sep=";", low_memory=False)

### Delete Columns: Time, Sub_metering_2, and Sub_metering_3

In [6]:
consumption_df = consumption_df.drop(columns=["Time", "Sub_metering_2", "Sub_metering_3"])
display(consumption_df.head())

,Date,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
0,16/12/2006,4.216,0.418,234.840,18.400,0.000
1,16/12/2006,5.360,0.436,233.630,23.000,0.000
2,16/12/2006,5.374,0.498,233.290,23.000,0.000
3,16/12/2006,5.388,0.502,233.740,23.000,0.000
4,16/12/2006,3.666,0.528,235.680,15.800,0.000

### Date as Index

In [7]:
consumption_df["Date"] = pd.to_datetime(consumption_df["Date"], format="%d/%m/%Y")
consumption_df = consumption_df.set_index("Date")
display(consumption_df.head())

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
Date,,,,,
2006-12-16,4.216,0.418,234.840,18.400,0.000
2006-12-16,5.360,0.436,233.630,23.000,0.000
2006-12-16,5.374,0.498,233.290,23.000,0.000
2006-12-16,5.388,0.502,233.740,23.000,0.000
2006-12-16,3.666,0.528,235.680,15.800,0.000

### Function that takes as input the DataFrame with the data set and returns a DataFrame with updated types

In [8]:
def update_types(df):
    df["Global_active_power"] = pd.to_numeric(df["Global_active_power"], errors='coerce')
    df["Global_reactive_power"] = pd.to_numeric(df["Global_reactive_power"], errors='coerce')
    df["Voltage"] = pd.to_numeric(df["Voltage"], errors='coerce')
    df["Sub_metering_1"] = pd.to_numeric(df["Sub_metering_1"], errors='coerce')
    return df

consumption_df = update_types(consumption_df)

### Overview of the Data Set

In [9]:
print(consumption_df.describe())

       Global_active_power  Global_reactive_power       Voltage  \
count         2.049280e+06           2.049280e+06  2.049280e+06
mean          1.091615e+00           1.237145e-01  2.408399e+02
std           1.057294e+00           1.127220e-01  3.239987e+00
min           7.600000e-02           0.000000e+00  2.232000e+02
25%           3.080000e-01           4.800000e-02  2.389900e+02
50%           6.020000e-01           1.000000e-01  2.410100e+02
75%           1.528000e+00           1.940000e-01  2.428900e+02
max           1.112200e+01           1.390000e+00  2.541500e+02

       Sub_metering_1
count    2.049280e+06
mean     1.121923e+00
std      6.153031e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      8.800000e+01

### Delete Rows with Missing Values

In [10]:
consumption_df = consumption_df.dropna()

### Modify Sub_metering_1 by (x+1)*0.06

In [11]:
consumption_df["Sub_metering_1"] = (consumption_df["Sub_metering_1"] + 1) * 0.06
display(consumption_df.head())

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
Date,,,,,
2006-12-16,4.216,0.418,234.84,18.400,0.06
2006-12-16,5.360,0.436,233.63,23.000,0.06
2006-12-16,5.374,0.498,233.29,23.000,0.06
2006-12-16,5.388,0.502,233.74,23.000,0.06
2006-12-16,3.666,0.528,235.68,15.800,0.06

### Date greater than or equal to 2008-12-27 and Voltage greater than or equal 242

In [12]:
filtered_df = consumption_df[(consumption_df.index >= "2008-12-27") & (consumption_df["Voltage"] >= 242)]
display(filtered_df.head())

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
Date,,,,,
2008-12-27,0.996,0.066,244.81,4.000,0.06
2008-12-27,1.076,0.162,244.78,4.400,0.06
2008-12-27,1.064,0.172,244.74,4.400,0.06
2008-12-27,1.070,0.174,245.28,4.400,0.06
2008-12-27,0.804,0.184,246.30,3.400,0.06

### The 88888th Row

In [13]:
display(consumption_df.iloc[88887].to_frame())

                      2007-02-16
Global_active_power        0.254
Global_reactive_power        0.0
Voltage                    238.1
Global_intensity           1.200
Sub_metering_1              0.06

### Date for which "Global_active_power" is Maximal

In [14]:
max_date = consumption_df[consumption_df["Global_active_power"] == consumption_df["Global_active_power"].max()].index[0]
print(f"Date with maximal Global_active_power: {max_date}")

Date with maximal Global_active_power: 2009-02-22 00:00:00

### Sort the first three columns by descending order of Global_active_power and ascending order of Voltage

In [15]:
consumption_df = consumption_df.sort_values(by=["Global_active_power", "Voltage"], ascending=[True, False])
display(consumption_df.head())

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
Date,,,,,
2008-08-12,0.076,0.0,236.50,0.200,0.06
2008-08-28,0.076,0.0,235.64,0.200,0.06
2008-08-28,0.076,0.0,235.40,0.200,0.06
2008-08-28,0.076,0.0,235.18,0.200,0.06
2008-08-28,0.076,0.0,234.88,0.200,0.06

### Daily Average of "Global_active_power"

In [16]:
daily_avg = consumption_df.groupby(consumption_df.index.date)["Global_active_power"].mean()
display(daily_avg.to_frame().head())

            Global_active_power
2006-12-16             3.053475
2006-12-17             2.354486
2006-12-18             1.530435
2006-12-19             1.157079
2006-12-20             1.545658

# Exercise 3: E-commerce purchases

The goal of this exercise is to learn to manipulate real data with Pandas. This exercise is less guided since the exercise 2 should have given you a nice introduction.

The data set used is [E-commerce purchases](Ecommerce_purchases.tx).

Questions:

1. How many rows and columns are there?

2. What is the average Purchase Price?

3. What were the highest and lowest purchase prices?

4. How many people have English 'en' as their Language of choice on the website?

5. How many people have the job title of "Lawyer" ?

6. How many people made the purchase during the AM and how many people made the purchase during PM ?

7. What are the 5 most common Job Titles?

8. Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

9. What is the email of the person with the following Credit Card Number: 4926535242672853

10. How many people have American Express as their Credit Card Provider and made a purchase above $95 ?

11. How many people have a credit card that expires in 2025?

12. What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [17]:
purchases_df = pd.read_csv("Ecommerce_purchases.txt", low_memory=False)

### Number of Rows and Columns

In [18]:
print(f"Number of rows: {purchases_df.shape[0]}, Number of columns: {purchases_df.shape[1]}")

Number of rows: 10000, Number of columns: 14

### Average Purchase Price

In [19]:
print(f"Average Purchase Price: {purchases_df['Purchase Price'].mean()}")

Average Purchase Price: 50.347302

### Highest and Lowest Purchase Prices

In [20]:
print(f"Highest Purchase Price: {purchases_df['Purchase Price'].max()}")
print(f"Lowest Purchase Price: {purchases_df['Purchase Price'].min()}")

Highest Purchase Price: 99.99
Lowest Purchase Price: 0.0

### People with English as their Language

In [21]:
print(f"Number of people with English as their language: {purchases_df[purchases_df['Language'] == 'en'].shape[0]}")

Number of people with English as their language: 1098

### People with Job Title "Lawyer"

In [22]:
print(f"Number of people with the job title 'Lawyer': {purchases_df[purchases_df['Job'] == 'Lawyer'].shape[0]}")

Number of people with the job title 'Lawyer': 30

### Purchases Made During AM and PM

In [23]:
print(f"Number of purchases made during AM: {purchases_df[purchases_df['AM or PM'] == 'AM'].shape[0]}")
print(f"Number of purchases made during PM: {purchases_df[purchases_df['AM or PM'] == 'PM'].shape[0]}")

Number of purchases made during AM: 4932
Number of purchases made during PM: 5068

### 5 Most Common Job Titles

In [24]:
print("5 most common Job Titles:")
display(purchases_df['Job'].value_counts().head(5).to_frame())

5 most common Job Titles:

                               count
Job
Interior and spatial designer     31
Lawyer                            30
Social researcher                 28
Designer, jewellery               27
Purchasing manager                27

### Purchase Price for Purchase from Lot "90 WT"

In [25]:
print(f"Purchase Price for Lot '90 WT': {purchases_df[purchases_df['Lot'] == '90 WT']['Purchase Price'].iloc[0]}")

Purchase Price for Lot '90 WT': 75.1

### Owner's Email for Credit Card Number 4926535242672853

In [26]:
print(f"Email of person with Credit Card Number 4926535242672853: {purchases_df[purchases_df['Credit Card'] == 4926535242672853]['Email'].iloc[0]}")

Email of person with Credit Card Number 4926535242672853: bondellen@williams-garza.com

### People with American Express and Purchases Above $95

In [27]:
print(f"Number of people with American Express and purchase above $95: {purchases_df[(purchases_df['CC Provider'] == 'American Express') & (purchases_df['Purchase Price'] > 95)].shape[0]}")

Number of people with American Express and purchase above $95: 39

### People with Credit Card Expiring in 2025

In [28]:
print(f"Number of people with credit card expiring in 2025: {purchases_df[purchases_df['CC Exp Date'].str.contains('/25')].shape[0]}")

Number of people with credit card expiring in 2025: 1033

### 5 Most Popular Email Providers/Hosts

In [29]:
print("Top 5 most popular email providers:")
display(purchases_df['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5).to_frame())

Top 5 most popular email providers:

              count
Email
hotmail.com    1638
yahoo.com      1616
gmail.com      1605
smith.com        42
williams.com     37